flask==1.0.2
flask-cas==1.0.0
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
requests==2.21.0
wtforms==2.2.1
opencv-python==4.0.0.21
numpy==1.16.2
pandas==0.24.2


psycopg2==2.7.7



# test
# SpeechRecognition==3.8.1
# PyAudio==0.2.11
# pywin32==224