{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}

    <content class="app-content">
      <div class="container">
        <div class="card pl-3 pr-3 mt-3 pb-5">
            <div class="card-body">
                <div class="clearfix pt-3 pb-3">
                  <span class="float-left">
                      <h5><i class="anticon icon-home"></i> 声音识别</h5>
                  </span>

                  <span class="float-center">
                        <form method="post" action="/digits/sounds" enctype="multipart/form-data">
                            <div class="form-group row mb-4 mt-5"  id="image">
                                <label for="inputPassword" class="col-sm-3 col-form-label text-right">{{ form.file.label }}：</label>
                                <div class="col-sm-6">
                                  {{ form.file(class='custom-file-input') }}
                                    <label class="custom-file-label ml-2 mr-2" for="customFile">选择文件</label>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label for="inputPassword1" class="col-sm-3 col-form-label text-right">{{ form.job_id.label }}：</label>
                                <div class="col-sm-6">
                                  {{ form.job_id(class='form-control') }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 offset-sm-4">
                                    {{ form.submit(class='btn btn-primary mr-3 px-4 ') }}
                                </div>
                            </div>
                        </form>

                  </span>

                </div>

                <hr>


                <div class="match-result">
                    {% if predictions %}
                        <div class="title_box mt-4 mb-4">
                            <h5>识别结果</h5>
                            <span class="title_icon"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="search_Result">
                                    <ul>
                                        {% for prediction in predictions %}
                                        <li>
                                            <span class="font-weight-bold">名称：{{ prediction[0] }} </span>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span class="font-weight-bold">预测值：{{ prediction[1] }}%</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if match_result %}
                        <div class="title_box mt-4 mb-4">
                            <h5>搜索结果</h5>
                            <span class="title_icon"></span>
                        </div>

                        <div class="row">
                            <div class="col-sm-8 d-flex align-items-center">
                                {{ match_result }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
      </div>
    </content>
    <script>
        $(function(){
            $("#file").change(function(){
               image = $(this);
               imgsrc= '/static/image/success.png';
               $(".img").remove();
               $("#image").append('<img src="" class="img" width="32px" height="32px">');
               $(".img").attr("src", imgsrc);
            });
        })
    </script>

{% endblock %}