{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/staff.css">
{% endblock %}

{% block content %}
    <div class="face-add-content">
        <h3>添加信息</h3>
            <span class="add-title-description">
                照片要求：
                1、图片为彩色证件照。
                2、证件照图片尺寸：256*256 要求正脸。
            </span>
        <form method="post" enctype="multipart/form-data" class="face-add-form">
            {{ form.csrf_token }}
            <label>
                <span>{{ form.file.label }}</span>{{ form.file }}
            </label>
            <label>
                <span>{{ form.name.label }}</span>{{ form.name }}
            </label>
            <label>
                <span>{{ form.id_card.label }}</span>{{ form.id_card }}
            </label>
            <label>
                <span>{{ form.description.label }}</span>{{ form.description }}
            </label>
            <label  class="upload-file-submit">{{ form.submit }}</label>

        </form>
    </div>
    <script>
        $(function(){
            $("#file").change(function(){
                $.ajax({
                    type:"POST",
                    contentType:"application/json; charset=utf-8",
                    headers:{"X-CSRFToken":'{{ csrf_token() }}'},
                    url:"{{ url_for('facecatch.staff.views.inspect_image') }}",
                    data:{"image_file":document.getElementById("file")},
                    success: function (data) {
                        if(data != 'success'){
                            alert("照片不符合要求请重新选择上传。")
                        }
                    }
                });
            });
        })

    </script>
{% endblock %}