{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/staff.css">
{% endblock %}

{% block content %}
    <div class="face-add-content">
        <h3>批量添加信息</h3>
            <span class="add-title-description">
                要求：<br>
                1、zip文件格式：
                    一个excel文件与一个image文件夹，
                    image文件夹里的内容为以人员证件号命名的jpg图片。<br>
                2、证件照图片尺寸：256*256 要求正脸。
            </span>
        <form method="post" enctype="multipart/form-data" id="addform" class="face-add-form">
            {{ form.csrf_token }}
            <label>
                <span>{{ form.file.label }}</span>{{ form.file }}
            </label>
            <label  class="upload-file-submit">{{ form.submit }}</label>
        </form>
    </div>
{% endblock %}