{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/staff.css">
{% endblock %}

{% block content %}

    <content class="app-content">
        <div class="container">
            <div class="card pl-3 pr-3 mt-3 pb-5">
                <div class="card-body">


                    <div class="pt-3 pb-3">
                        <h5><i class="anticon icon-home"></i> 批量添加信息</h5>
                        <p class="mt-3">ZIP文件要求：<br>
                            1、zip文件格式：一个名为face.xlsx的excel文件与一个名为image的文件夹，image文件夹里的内容为以人员证件号命名的png/jpg图片。<br>
                            2、face.xlsx的格式：姓名 部门 证件号 描述 <br>
                            3、证件照图片尺寸：256*256 要求正脸。</p>
                        <button class="btn btn-primary"><a href="{{ url_for("staff.download_file") }}"
                                                           style="color:#fff;">下载示例文件</a></button>
                        <hr/>
                    </div>

                    <form method="post" enctype="multipart/form-data" id="addform" class="">
                        {{ form.csrf_token }}
                        <div class="form-group row mb-4 mt-5" id="image">
                            <label for="inputPassword"
                                   class="col-sm-3 col-form-label text-right">{{ form.file.label }}：</label>
                            <div class="col-sm-6">
                                {{ form.file(class='custom-file-input') }}
                                <label id="batch-add-label" class="custom-file-label ml-2 mr-2"
                                       for="customFile">选择文件</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3 offset-sm-4">
                                {{ form.submit(class='btn btn-primary mr-3 px-4 ') }}
                            </div>
                        </div>

                    </form>
                <script>
                    $('#file').change(function (e) {
                        let fileMsg = e.currentTarget.files;
                        $('#batch-add-label')[0].innerHTML = fileMsg[0].name;
                    })
                </script>

                </div>
            </div>
        </div>
    </content>

{% endblock %}