{% extends 'base.html' %}

{% block content %}

    <content class="app-content">
      <div class="container">
        <div class="card pl-3 pr-3 mt-3 pb-5">
            <div class="card-body">

                <div class="clearfix pt-3 pb-3">
                  <span class="float-left">
                      <h5><i class="anticon icon-home"></i> 详情页</h5>
                  </span>
                </div>

                <hr>

                <div class="row pt-3 pl-3">
                    <div class="col-sm-4">
                        <div class="fakeimg_cont">
                        <img  src="data:image/png;base64,{{ person.person_image }}" width="260px">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="search_Result">
                            <ul>
                                <li><span class="font-weight-bold">名称：</span>{{ person.name }}</li>
                                <li><span class="font-weight-bold">部门：</span>{{ person.department }}</li>
                                <li><span class="font-weight-bold">证件号：</span>{{ person.id_card }}</li>
                                <li><span class="font-weight-bold">描述：</span>{{ person.description }}</li>
                                <li><span class="font-weight-bold">创建时间：</span>{{ person.create_time }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 offset-sm-4">
                    <a href="{{ url_for("staff.update_person", person_id=person.id) }}" style="color:#fff;"><button class="btn btn-primary">编辑</button></a>
                </div>


            </div>
        </div>
      </div>
    </content>



{% endblock %}