{% extends 'base.html' %}

{% block content %}

    <content class="app-content">
      <div class="container">
        <div class="card pl-3 pr-3 mt-3 pb-5">
            <div class="card-body">

                <div class="clearfix pt-3 pb-3">
                  <span class="float-left">
                      <h5><i class="anticon icon-home"></i> 详情页</h5>
                  </span>
                </div>

                <hr>

                <div class="row pt-3 pl-3">
                    <div class="col-sm-4">
                        <div class="fakeimg_cont">
                        <img  src="data:image/png;base64,{{ person.image }}" width="260px">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="search_Result">
                            <ul>
                                <li><span class="font-weight-bold">名称：</span>{{ person.name }}</li>
                                <li><span class="font-weight-bold">证件号：</span>{{ person.id_card }}</li>
                                <li><span class="font-weight-bold">描述：</span>{{ person.description }}</li>
                                <li><span class="font-weight-bold">匹配结果：</span>dengzihao</li>
                                <li><span class="font-weight-bold">相似度：</span>100%</li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
      </div>
    </content>



{% endblock %}