{% extends 'base.html' %}

{% block content %}
    <h3>展示页</h3>

    <a href="{{ url_for("facecatch.staff.views.add") }}">信息录入</a>

    <br>
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
    <br>
    <table>
        <tr>
            <th>图片</th>
            <th>姓名</th>
            <th>证件号</th>
            <th>描述</th>
            <th>标签</th>
            <th>操作</th>

        </tr>
        {% for person in persons %}
        <tr>
            <th><img src="data:image/png;base64,{{ base64.b64encode(person.image).decode('utf-8') }}" height="50px" width="50px"></th>
            <th><a href="{{ url_for('facecatch.staff.views.detail', person_id=person.id) }}">{{ person.name }}</a></th>
            <th>{{ person.id_card }}</th>
            <th>{{ person.description }}</th>
            <th>{{ person.face_feature }}</th>
            <th>
                <a href="{{ url_for("facecatch.staff.views.update_person", person_id=person.id) }}">编辑</a>
                <a href="{{ url_for('facecatch.staff.views.delete_person', person_id=person.id) }}" onclick="if(confirm('确定要删除？')){return true;}else{return false;}">删除</a>
            </th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}