{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/staff.css">
{% endblock %}

{% block content %}


<content class="app-content">
      <div class="container-1400 pt-3">


        <div class="input-group w-25 mb-3">
            <a href="{{ url_for("staff.add") }}"><button type="button" class="btn btn-primary mr-3"><i class="anticon icon-form"></i> 信息录入</button></a>

            <a href="{{ url_for("staff.batch_add") }}"><button type="button" class="btn btn-primary"><i class="anticon icon-copy1"></i> 批量录入</button></a>
        </div>

        {% for message in get_flashed_messages() %}
            <h4>{{ message }}</h4>
        {% endfor %}

            <div class="row">

                {% for person in persons %}
                <div class="col-6 col-md-4 mb-3" id="person{{ person.id }}">
                    <div class="card">
                        <div class="card-body">

                            <div class="clearfix">
                              <span class="float-left">
                                  <div class="fakeimg">
                                      <a href="{{ url_for('staff.detail', person_id=person.id) }}">
                                          <img src="data:image/png;base64,{{ person.person_image }}" width="126">
{#                                          <img src="{{ person.person_image }}" width="126">#}
                                      </a>
                                  </div>
                              </span>
                              <span class="float-left ml-5">
                                  <ul class="information_box mb-0">
                                      <li><a href="{{ url_for('staff.detail', person_id=person.id) }}"><h6>{{ person.name }}</h6></a></li>
                                      <li>部门：{{ person.department }}</li>
                                      <li>证件号：{{ person.id_card }}</li>
                                      <li>描述：{{ person.description }}</li>
                                      <li>创建时间：{{ person.create_time }}</li>
                                  </ul>

                                  <div class="mt-2">
                                    <a href="{{ url_for("staff.update_person", person_id=person.id) }}">
                                        <button type="button" class="btn btn-outline-primary btn-sm pl-3 pr-3 mr-2">
                                            <i class="anticon icon-edit"></i> 编辑
                                        </button>
                                    </a>

                                    <a onclick="if(confirm('确定要删除？')){deletePerson({{ person.id }})}else{return false;}">
                                        <button type="button" class="btn btn-outline-danger btn-sm pl-3 pr-3">
                                            <i class="anticon icon-delete"></i>  删除
                                        </button>
                                    </a>
                                  </div>

                              </span>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
      </div>
</content>

    <script>
        function deletePerson(person_id) {
            $.ajax({
                type: 'post',
                contentType: "application/json; charset=UTF-8",
                url: '/delete_person',
                data: {
                    person_id,
                },
                success: function (data) {
                    if (data = "success") {
                        $("#person" + person_id).html('');
                        location.reload();
                    }
                }
            })
        }
    </script>

{% endblock %}