{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/search.css">
{% endblock %}

{% block content %}
    <h3>表情识别</h3>
    <br>
    <form method="post" action="/expression" enctype="multipart/form-data">
        <div style="float: left">
            {{ form.csrf_token }}
            <a href="#" class="a-upload">{{ form.file }}上传照片</a>

            {{ form.submit(class="search_submit") }}</div>
    </form>
    <div class="match-result">
    <span id="image"></span>
        {% if emotion %}
            <h4>识别结果</h4>
            <ul>
                <li><img src="data:image/png;base64,{{ base64.b64encode(image).decode('utf-8') }}" width="200px"></li>
                <li>表情：{{ emotion }}</li>
            </ul>
        {% endif %}
    </div>
    <script>
        $(function(){
            $("#file").change(function(){
               image = $(this);
               imgsrc= image[0].files[0];
               $(".img").remove();
               $("#image").append('<img src="" class="img" width="100px">');
               $(".img").attr("src",URL.createObjectURL(imgsrc));
            });
        })
    </script>
{% endblock %}