.match-result{
    clear: both;
    width: 1060px;
/*    border: 1px solid #DDDDDD;*/
    background: #fff;
    border-radius: 5px;
}
.search_submit{
    padding: 4px 10px;
    height: 29px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #6FC3DC;
    border: 1px solid #fff;
    border-radius: 4px;
    display: block;
    text-decoration: none;
    float: right;
    font-size: 15px;
    margin-left: 5px;
}
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}


#loading {
    width: 500px;
    position: absolute;
    font-size: x-large;
    line-height: 200px;
    z-index: 999999;
    text-align: center;
    background: rgba(255,255,255,1);
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -200px;
    border: 1px solid #dee2e6;
    border-radius: 10px;

    -moz-box-shadow:2px 2px 5px #333333;
    -webkit-box-shadow:2px 2px 5px #333333;
    box-shadow: 7px 15px 30px #285a63;
}


#query_result_show{
    position: absolute;
    right: 500px;
    top: 300px;
}

.predictive-span, .name-span{
    width: 250px;
    display: inline-block;
}





